@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:200");

body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-image: url("https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg");
  background-size: cover;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

h1 {
  margin-top: 315px;
}

.space {
  margin-bottom: 550px;
}

.main-timer {
  font-size: 45px;
  margin-bottom: 10px;
}

.sub-timer {
  font-size: 25px;
}

.box-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.box {
  width: 400px;
  height: 135px;
  color: white;
  outline: auto;
  outline-color: white;
  background-color: black;
}

@media (max-width: 1580px) and (max-height: 850px) {
  .box-container {
    flex-wrap: wrap;
  }

  .box {
    width: calc(50% - 20px);
    margin-bottom: 20px;
  }
}

@media (max-width: 860px) {
  .box-container {
    flex-direction: column;
  }

  .box {
    width: 100%;
    margin-bottom: 20px;
  }
}